* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e6e6e6;
}

/* Navbar design */
nav {
  background-color: #ff6f61;
  padding: 30px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;    
}


.logo {
  font-size: 26px;
  font-weight: 700;
}

/* Navbar links */
.nav-links {
  display: flex;
  gap: 45px;
  list-style: none;
  
  position: absolute;        
  left: 50%;
  transform: translateX(-50%);
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}

/* Hamburger hidden by default */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* First-hero */
.first-hero {
  width: 100%;
  margin: 0 auto;
  min-height: 450px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #FFF7A5, #FFC7B0, #FFB5D8);
}

.first-hero .left {
  width: 50%;
  padding: 60px;
}

.first-hero h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 4px;
}

.first-hero p {
  font-size: 18px;
  line-height: 1.6;
  width: 80%;
  margin-bottom: 30px;
}

.first-hero button {
  background: #ff6f61;
  border: none;
  padding: 12px 35px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.first-hero .right {
  width: 50%;
  height: 450px;
}

.first-hero .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Second-hero */
.second-hero {
  width: 100%;
  margin: 20px auto;
  padding: 50px;
  min-height: 450px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #FFF8B8, #FFB3F2);
}

/* Left section */
.image-group {
  width: 50%;
  display: flex;
  gap: 20px;
}

.left-stack {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-stack img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.right-tall {
  width: 50%;
  height: 420px;
}

.right-tall img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text box */
.text-box {
  width: 38%;
  background: #FF7069;
  height: 280px;
  padding: 45px 55px;
  margin-left: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-box h3 {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.text-box h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
}

.text-box button {
  margin-top: 25px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Tablet design*/

@media (max-width: 1024px) {

  nav {
    padding: 15px 20px;
  }

  /* First hero*/
  .first-hero {
    flex-direction: column;
    text-align: center;
  }

  .first-hero .left,
  .firsthero .right {
    width: 100%;
    padding: 30px;
  }

  .first-hero .right {
    height: 300px;
  }

  /* Second-hero */
  .second-hero {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }

  .image-group {
    width: 100%;
    justify-content: center;
  }

  .text-box {
    width: 80%;
    margin: 40px auto 0 auto;
  }
}

/* Mobile design*/

@media (max-width: 768px) {

  /* Show hamburger on mobile */
  .hamburger {
    display: block;
  }

  /* Hide menu by default */
   .nav-links {
    position: absolute;
    top: 65px;
    right: 50px;
    background: white;        
    border-radius: 8px;
    padding: 10px 0;
    width: 150px;             
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    z-index: 999;
  }

  .nav-links li a {
    color: black;
    font-size: 16px;
  }
  .nav-links li a:hover{
    color: #ee240d;
  }
  /* When active (clicked) */
  .nav-links.active {
    display: flex;
  }
  @keyframes dropdown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* First-hero */
  .first-hero {
    flex-direction: column;
  }

  .first-hero .left {
    width: 100%;
    padding: 25px;
    text-align: center;
  }

  .first-hero .right {
    width: 100%;
    height: 250px;
  }

  /* Second-hero*/
  .second-hero {
    flex-direction: column;
    padding: 25px;
  }

  .image-group {
    flex-direction: column;
    width: 100%;
  }

  .left-stack,
  .right-tall {
    width: 100%;
  }

  .left-stack img {
    height: 180px;
  }

  .right-tall {
    height: 300px;
  }

  .text-box {
    width: 100%;
    margin: 30px 0 0 0;
  }
}
